body {
  overflow-x: hidden;
}

.primary {
  background-color: #404037 !important;
  color: #ebebeb !important;
}
.navbar-item {
  color: #ebebeb;
}

.hl-main-image {
  padding: 0;
}

.hl-main-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.hl-main-title {
  font-size: 30px;
}

.hl-main-spacing {
  display: flex;
  flex-grow: 1;
}

.hl-main-buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hl-main-pricing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hl-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.hl-image-container p {
  font-size: 15px;
  margin-bottom: 0 !important;
  line-height: 1.8;
  padding: 10px;
}

.box {
  background-color: #a19c4c15;
}

.title {
  margin: 1rem !important;
}

/* Mobile */
@media (max-width: 768px) {
  .hl-main-outer {
    padding: 0;
  }

  .hl-main-content {
    padding: 40px 40px 40px 40px;
  }

  .hl-main-image {
    padding: 0;
  }
  .hl-main-pricing {
    margin-right: 30px;
  }

  .hl-image-container p {
    padding: 30px;
  }

  .box .hl-text-desc {
    padding: 10px;
  }

  .image {
    padding: 40px 0 40px 0;
  }
}

/* Tablets and Desktop */
@media (min-width: 769px) {
  .hl-main-outer {
    padding: 10px 5% 30px 7%;
    margin-top: 60px;
  }
  .hl-main-content {
    padding: 40px 0 0 40px;
  }
  .hl-main-image {
  }
  .hl-main-buttonbox {
    margin: 0 20px 20px 0;
  }
  .hl-main-pricing {
    margin-right: 30px;
  }

  .box p {
    padding: 10px;
  }

  .image {
    width: 600px !important;
    padding: 40px 0 40px 0;
  }
}
