body {
  overflow-x: hidden;
  font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, "NotoSansKR",
    sans-serif;
}

.hl-main-image {
  padding: 0;
}

.hl-main-content {
  display: flex;
  flex-direction: column;
}

.hl-main-spacing {
  display: flex;
  flex-grow: 1;
}

.hl-main-buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hl-main-pricing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hl-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px 0 15px;
}

.hl-image-container p {
  margin-bottom: 0 !important;
  padding: 10px;
}

.box {
  background-color: #a19c4c10;
  width: 96%;
  max-width: 560px;
}

.hl-image-container .title {
  margin: 1rem 0 0.5rem 0;
}

.hl-image-container h4.title {
  margin: 40px 0 0 0;
}

.hl-author {
  margin-right: 1rem !important;
  margin-top: 10px !important;
  padding: 0px !important;
}

.hl-section-title {
  margin: 30px 0 0 0 !important;
}

#iframe-container {
  height: 100vh; /* bigger than max-height, thus forced to max-height*/
}

#iframe {
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: white;
}

/* Mobile */
@media (max-width: 768px) {
  .hl-main-outer {
    padding: 0;
  }

  .hl-main-content {
    padding: 30px 40px 40px 40px;
  }
  .hl-main-image {
    padding: 0;
  }
  .hl-main-title {
    font-size: 24px;
  }
  .hl-main-content {
    font-size: 12px;
  }
  .hl-main-pricing {
    margin-right: 25px;
    font-size: 14px;
  }
  .hl-button {
    font-size: 18px !important;
  }
  .box {
    padding: 1rem !important;
  }

  .box p {
    padding: 0 10px 0 10px;
  }

  .hl-image-container .image {
    padding: 20px 0 20px 0;
    width: 100%;
  }
  .hl-image-container .title {
    font-size: 18px !important;
  }
  .hl-image-container p {
    font-size: 11px;
    line-height: 2;
  }
}

/* Tablets and Desktop */
@media (min-width: 769px) {
  .hl-main-outer {
    padding: 10px 8% 30px 2%;
    margin-top: 60px;
  }
  .hl-main-content {
    padding: 20px 0 0 40px;
  }
  .hl-main-image {
  }
  .hl-main-title {
    font-size: 30px;
  }
  .hl-main-content {
    font-size: 16px;
  }
  .hl-main-buttonbox {
    margin: 0 40px 20px 0;
  }
  .hl-main-pricing {
    margin-right: 30px;
  }
  .hl-button {
    font-size: 16px;
    padding: 20px;
  }

  .box p {
    padding: 0 10px 0 10px;
  }

  .hl-image-container .image {
    width: 600px !important;
    padding: 40px 0 40px 0;
  }
  .hl-image-container p {
    font-size: 15px;
    line-height: 1.8;
  }
}
