body {
  overflow-x: hidden;
  font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, "NotoSansKR",
    sans-serif;
}

.primary {
  background-color: #181814 !important;
  color: #ebebeb !important;
}
.navbar-item {
  color: #ebebeb;
}

.hl-main-image {
  padding: 0;
}

.hl-main-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.hl-main-title {
  font-size: 30px;
}

.hl-main-spacing {
  display: flex;
  flex-grow: 1;
}

.hl-main-buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hl-main-pricing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hl-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px 0 15px;
}

.hl-image-container p {
  margin-bottom: 0 !important;
  padding: 10px;
}

.box {
  background-color: #a19c4c15;
}

.hl-image-container .title {
  margin: 1rem !important;
}

.hl-author {
  margin-right: 1rem !important;
}

/* Mobile */
@media (max-width: 768px) {
  .hl-main-outer {
    padding: 0;
  }

  .hl-main-content {
    padding: 40px 40px 40px 40px;
  }

  .hl-main-image {
    padding: 0;
  }
  .hl-main-pricing {
    margin-right: 30px;
  }

  .box p {
    padding: 0 10px 0 10px;
  }

  .hl-image-container .image {
    padding: 20px 0 20px 0;
  }
  .hl-image-container .title {
    font-size: 18px !important;
  }
  .hl-image-container p {
    font-size: 10px;
    line-height: 1.8;
  }
}

/* Tablets and Desktop */
@media (min-width: 769px) {
  .hl-main-outer {
    padding: 10px 5% 30px 7%;
    margin-top: 60px;
  }
  .hl-main-content {
    padding: 40px 0 0 40px;
  }
  .hl-main-image {
  }
  .hl-main-buttonbox {
    margin: 0 20px 20px 0;
  }
  .hl-main-pricing {
    margin-right: 30px;
  }

  .box p {
    padding: 0 10px 0 10px;
  }

  .hl-image-container .image {
    width: 600px !important;
    padding: 40px 0 40px 0;
  }
  .hl-image-container p {
    font-size: 15px;
    line-height: 1.8;
  }
}
