.is-primary {
  /* Can change everything's color except the message */
  background-color: #00d1b2 !important;
}

.navbar {
  display: flex;
  height: 60px;
  width: 100%;
}

footer {
  margin-top: 20px;
  padding: 40px 30px 30px 30px !important;
}
