.is-primary:not(.message) {
  /* Can change everything's color except the message */
  background-color: #00d1b2 !important;
}

.navbar {
  display: flex;
  height: 60px;
  width: 100%;
}

.navbar-item {
  color: #ebebeb;
  margin-left: 10px;
}

.navbar-item:hover {
  color: #ebebeb !important;
}

.primary {
  background-color: #181814 !important;
  color: #ebebeb !important;
}

footer {
  margin-top: 20px;
  padding: 40px 30px 30px 30px !important;
}
